numpy
setuptools==68.0.0
wheel==0.41.0
cython>=0.29.30
ipython>=8.4.0
jupyter>=1.0.0
scikit-learn>=1.1.1
scipy>=1.8.1
colorlog>=6.6.0
pyyaml>=6.0
tqdm
jax==0.4.1
jaxlib==0.4.1
flax==0.6.1
chex==0.1.6
distrax==0.1.3

