numpy == 1.26.4
setuptools==68.0.0
wheel==0.41.0
cython>=0.29.30
ipython>=8.4.0
jupyter>=1.0.0
scikit-learn>=1.1.1
scipy>=1.8.1
colorlog>=6.6.0
pyyaml>=6.0
tqdm
jax
jaxlib
flax
#chex==0.1.6
distrax
cloudpickle
getdist