name: Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2.3.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/checkout@v2.3.1
    - name: Install dependencies
      run: |
        sudo apt install pandoc
        python -m pip install --upgrade pip
        pip install -r requirements/requirements-core.txt
        pip install -r requirements/requirements-test.txt
        pip install -r requirements/requirements-docs.txt     
    
    - name: Install harmonic
      run: |
        python setup.py build_ext --inplace --define CYTHON_TRACE
    
    - name: Run tests
      run: |
        pytest --cov-report term --cov=harmonic --cov-config=.coveragerc --cov-fail-under=50 --threshold=5
        codecov --token d8f839b7-cf16-4d43-83c7-9d595f6e1d44

    - name: Build Documentation
      run: |
        cd docs && make html

    - name: Deploy
      if: github.ref == 'refs/heads/main'
      uses: JamesIves/github-pages-deploy-action@4.1.5
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: docs/_build/html # The folder the action should deploy.